@import "tailwindcss";
@config "../tailwind.config.js";

/* Suppress CSS validation warnings */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-gray-50 text-gray-800 font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* @apply font-heading text-gray-900; */
    @apply text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}